:root {
  --white-color: #fff;
  --graylight-color: #717171;
  --gray-color: #E8E8E9;
  --graydark-color: #8E8E93;
  --blacklight-color: #404040;
  --black-color: #1E2022;
  --cherry-color: #F05757;
  --cherrydark-color: #B3052D; 
  --blue-color: #3191D0;
  --bluedark-color: #5500ff;
}

html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Global*/

.flex {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.btn-reset {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }

/* Nav */

.nav {
    background-color: var(--black-color);
    justify-content: space-around;
    height: 50px;
    padding-top: 15px;
    border-bottom: 1px solid var(--white-color);
  }

  .nav__gps {
    margin-right: 205px;
  }

  .links {
    color: var(--graydark-color);
    margin-right: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .links:focus {
    color: var(--white-color);
    background-color: var(--graydark-color);
    border-radius: 10px;
    transition: color .5s ease-in-out, background-color .5s ease-in-out;
  }

  .links:hover {
    color: var(--white-color);
    transition: color .5s ease;
  }

  .nav__tel {
    color: var(--graydark-color);
}

  .nav__tel:hover {
        color: var(--white-color);
    transition: color .5s ease;
}

/* Header */

  .header {
    background-color: var(--black-color);
    justify-content: space-around;
    height: 80px;
    padding-top: 15px;
  }

  .header__logo {
    margin-right: 30px;
    margin-top: 5px;
  }

  .header__slider {
    color: var(--graydark-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: url("../img/catalog.png") no-repeat 15% 50%;
    border: 1px solid var(--graydark-color);
    border-radius: 6px;
    padding: 15px 22px 15px 43px;
    margin-right: 30px;
  }

  .header__slider:hover {
    color: var(--white-color);
    transition: color .5s ease;
  }

  .header__search {
    background-color: var(--black-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--graydark-color);
    padding: 15px 15px 15px 22px;;
    border: 1px solid var(--graydark-color);
    border-radius: 6px;
    background: url("../img/search.png") no-repeat 95% 50%;
    margin-right: 37px;
    width: 350px;
  }

  .header__compare {
    padding: 20px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--graydark-color);
    background: url("../img/compare.png") no-repeat 10% 35%;
  }

  .header__compare-rate {
    margin-left: 7px;
  }

  .header__compare-rate:hover {
    color: var(--white-color);
    transition: color .5s ease;
  }

  .header__basket {
    padding: 20px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--graydark-color);
    background: url("../img/basket.png") no-repeat 10% 40%;
  }

  .header__basket-rate {
    margin-left: 7px;
  }

  .header__basket-rate:hover {
    color: var(--white-color);
    transition: color .5s ease;
  }

  .header__account {
    padding: 20px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--graydark-color);
    background: url("../img/account.png") no-repeat 10% 40%;
  }

  .header__account-rate {
    margin-left: 7px;
  }

  .header__account-rate:hover {
    color: var(--white-color);
    transition: color .5s ease;
  }

/* Main */

  .main {
    margin: 20px 0 0;
  }

  .main__top {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8E8E93;
  margin: 0 0 60px 0;
  } 

  span {
    color: var(--graydark-color);
  }

  .main__h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .image{
    display: none;
  }

  .main__photo {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrow-left {
    left: -5%;
    background: url(../img/left.png) no-repeat;
    height: 38px;
  }
  
  .arrow-right {
    left: 100%;
    background: url(../img/right.png) no-repeat;
    height: 38px;
  }

  #prev {
    padding: 16px;
  }

  #next {
    padding: 16px;
  }

  .dots{
    margin: 0;
    margin-left: 40%;
    margin-top: 30%;
  }
  
  .dot{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--graylight-color);
    border-radius: 50%;
    transition: background-color 0.6s ease;
  }
  
  .fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    width: 430px;
    height: 315px;
    left: calc(50% - 430px/2);
    top: calc(50% - 315px/2 - 14px);
  }
  
  @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }
  
  @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  } 
  
  @media(max-width:768px){
      .container{
          width: 100%;
      }
  }

  .main__descr {
    padding-left: 50px;
    margin-right: 67px;
  }

  .rating {
    margin-bottom: 27px;
  }

  .star {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }

  .rate {
    color: var(--cherry-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .feedback {
    font-size: 14px;
    line-height: 16px;
    color: var(--graydark-color);
    margin-top: 5px;
    margin-right: 26px;
  }

  .feedback:hover {
    cursor: pointer;
    color: var(--cherry-color);
  }

  .heart {
    margin-right: 23px;
  }

  .heart:hover {
    background: url("../img/heart2.png") no-repeat;
  }


  .static:hover {
    background: url("../img/static2.png") no-repeat;
  }

  .color {
    margin-bottom: 10px;
  }

  .dark {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--blacklight-color);
    margin-right: 5px;
  }

  .night {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--graydark-color);
  }

  .variants {
    margin-bottom: 20px;
  }

  .colors:hover {
    cursor: pointer;
    outline: 2px solid var(--cherry-color);
  }

  .colors:not(:last-child) {
    margin-right: 10px;
  }

  .storage {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--blacklight-color);
    margin-bottom: 20px;
  }

  .memory {
    margin-bottom: 40px;
  }

  .mind {
    padding: 7px 20px;
    border: 1px solid var(--graydark-color);
    border-radius: 6px;
    width: 61px;
    height: 29px;
  }

  .mind:hover {
    cursor: pointer;
    border: 2px solid var(--black-color);
    color: var(--black-color);
  }

  .property {
    width: 326px;
    height: 192px;
  }

  .gray {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--graydark-color);
  }

  .char {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--blacklight-color);
  }


  .gray {
    overflow: hidden;
  }

  .gray:after {  
    content:'..........................................';
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

  .all {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--blue-color);
    }

  .all:hover {
        color: var(--bluedark-color);
        transition: color .5s ease-in;
    }

  .crate {
    width: 264px;
    min-height: 169px;
    border: 1px solid var(--gray-color);
    border-radius: 6px; 
    padding: 20px;
    margin-bottom: 10px;
  }

  .past {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: line-through;
    color: var(--graydark-color);
  }

  .last {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--black-color);
    margin-bottom: 6px;
  }

  .installment {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--black-color);
    margin-bottom: 25px;
  }

  .question {
    width: 16px;
    height: 16px;
    top: 10px;
  }

  .question:hover {
    background: url(../img/question2.png) no-repeat;
  }

  .cont {
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--white-color);
    padding: 12px 45px;
    border: 1px solid var(--cherry-color);
    border-radius: 6px;
    background: var(--cherry-color);
  }

  .cont:hover {
    background-color: var(--cherrydark-color);
    transition: background .5s ease-in-out;
  }

  .var {
    width: 264px;
    min-height: 129px;
    padding: 20px;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    margin-bottom: 10px;
  }

  .bonus {
    margin-bottom: 20px;
  }

  .money {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--cherry-color);
    margin-left: 6px;
  }

  .credit {
    margin-bottom: 19px;
  }

  .bonuss {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--black-color);
    margin-right: 7px;
    margin-bottom: 19px;
  }

  .procent {
    margin-left: 6px;
    margin-right: 42px;
  }

  .chase {
    margin-right: 29px;
  }


  .delivery {
    width: 264px;
    min-height: 136px;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    padding: 20px;
  }

  .methods {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black-color);
    margin-bottom: 18px;
  }

  .pickup {
    margin-bottom: 18px;
  }

  .pickupp {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: var(--blacklight-color);
  }

  
  /* Navigation 2 */

  .tabs {
    padding: 0;
  }

  .tab {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
    list-style-type: none;
    margin-right: 40px;
    margin-bottom: 43px;
    cursor: pointer;
  }

  .tab:hover {
    color: var(--cherry-color);
    border-bottom: 2px solid var(--cherry-color);
    transition: color .5s ease-in-out border-bottom .5s ease-in-out;
  }

  /* Description */

  .section {
    text-align: left;
    margin-bottom: 40px;
    display: none;
  }

  .section.active {
    display: block;
  }

  .output{
    clear:both;
  }

  .about__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--black-color);
    margin-bottom: 20px;
  }

  .about__chapter {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--black-color);
  }

  .about__chapter:last-child {
    margin-bottom: 20px;
  }

  /* Comment */

  .comment__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--black-color);
    margin-bottom: 40px;
  }

  .comment__response {
    margin-bottom: 10px;
  }

  .name {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black-color);
    margin-right: 6px;
  }

  .date {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .comment__stars {
    margin-bottom: 20px;
  }

  .ratingg {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--cherry-color);
  }

  .comment__quality {
    margin-bottom: 20px;
  }

  .quality {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--black-color);
  }

  .quality-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--blacklight-color);
  }

  .comment__like {
    margin-bottom: 40px;
  }

  .like {
    margin-right: 7px;
  }

  .like:hover {
    cursor: pointer;
  }

  .like-descr {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--cherry-color);
    margin-right: 21px;
  }

  .dislike {
    margin-right: 7px;
  }

  .dislike:hover {
    cursor: pointer;
  }

  .dislike-descr {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--graydark-color);
    margin-right: 20px;
  }

  /* Recently viewed */

  .viewed {
    margin-bottom: 60px;
  }

  .viewed__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 19px;
    color: var(--black-color);
  }

  .block {
    list-style-type: none;
    width: 265px;
    min-height: 413px;
    padding: 20px 0px;
    gap: 20px;
  }

  .block:not(:last-child) {
    margin-right: 20px;
  }

  .img {
    margin-bottom: 20px;
  }

  .reviewe__descr {
    min-width: 200px;
    min-height: 55px;
    margin-bottom: 10px;
  }

  .coffee-machine {
    margin-bottom: 11px;
  }

  .price {
    margin-bottom: 20px;
  }

  .cart {
    width: 80px;
    min-height: 40px;
    padding: 4px 24px;
    background-color: var(--cherry-color);
    border: 1px solid var(--cherry-color);
    border-radius: 6px;
    margin-right: 16px;
  }

  .cart:hover {
    cursor: pointer;
    background-color: var(--cherrydark-color);
    transition: background .5s ease-in-out;
  }

  .cartt {
    cursor: ponter;
    background-color: var(--white-color);
    border: 1px solid var(--cherrydark-color);
    transition: background .5s ease-in-out, border .5s ease-in-out;
  }

  .favourites {
    color: var(--cherry-color);
  }

  .favourites:hover {
    cursor: pointer;
    color: var(--cherrydark-color);
    transition: color .5s ease-in-out;
  }

  .heartt {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 23px;
    border: none;
    background-color: var(--white-color);
  }

  .pricee {
    margin-bottom: 36px;
  }

  .viewed__blocks {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }

  .left-arrow {
    background: url(../img/left.png) no-repeat;
    width: 38px;
    height: 38px;
    left: -3%;
  }
  
  .right-arrow {
    background: url(../img/right.png) no-repeat;
    width: 38px;
    height: 38px;
    left: 80%;
  }

  .slid2 {
    width: 180px;
    height: 180px;
  }

  /* Footer */

  .footer {
    width: 100%;
    background-color: var(--black-color);
    border-bottom: 1px solid #404040;
  }

  .footer__logo {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .footer__about {
    margin-right: 60px;
  }

  .footer__company {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-color);
    margin-bottom: 30px;
  }

  .footer__blocks {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }

  .footer__block {
    cursor: pointer;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--graydark-color);
  }

  .footer__block:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer__block:hover {
    color: var(--white-color);
    transition: color .5s ease-in-out;
  }

  .footer__buyers {
    margin-right: 60px;
  }

  .footer__buy {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-color);
    margin-bottom: 30px;
  }

  .footer__help {
    margin-top: 82px;
    margin-right: 106px;
  }

  .footer__network {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--white-color);
    margin-bottom: 30px;
  }

  .next {
    float: right;
    margin-top: 180px;
    cursor: pointer;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }

  .footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E93;
  }

  .offer:not(:last-child) {
    margin-right: 30px;
  }

  .offer {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E93;
  }


  /* Таб 2 - Характеристики */

  .section__info {
    margin-bottom: 56px;
  }

  .section__characteristics {
    margin: 0;
  }

  .smart {
    margin-bottom: 24px;
  }

  .section__smartphone {
    margin-bottom: 24px;
    border-bottom: .1rem solid #dfdee2;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .section__image-img {
    width: 60px;
    height: 54px;
  }

  .section__image-text {
    font-size: 16px;
    line-height: 22px;
    color: var(--black-color);
    display: inline-flex;
    box-sizing: border-box;
    cursor: pointer;
    max-width: 346px;
    vertical-align: top;
  }

  .navigation-list {
    padding-left: 0;
  }

  .navigation-list__list-item {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
  }
  .navigation-list__list-item:nth-child(2) {
    font-weight: 600;
  }

  .navigation-list__list-item:not(:last-child) {
    margin-right: 24px;
  }

  .section__button-button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 23px;
    border-radius: 0.4rem;
    color: var(--cherry-color);
    background-color: var(--white-color);
    border: 0.1rem solid var(--cherry-color);
    text-decoration: none;
  }

  .section__all-all {
    margin-bottom: 56px;
  }

  .section__all-title {
    margin-bottom: 24px;
  }

  .section__all {
    margin: 0;
    font-size: 20px;
    line-height: 2.8rem;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 14px;
  }

  .data {
    font-size: 16px;
    line-height: 22px;
  }

  .section__all-garant:not(:last-child) {
    margin-bottom: 24px;
  }

  .section__sertificate-download {
    margin-bottom: 24px;
  }

  .section__sertificate-download {
    background: url("../img/sertificate.png") no-repeat;
    background-size: cover;
    padding: 12px;
  }

  .section__sertificate-pdf {
    padding: 5px;
    background-color: var(--black-color);
    color: var(--white-color);
    margin-bottom: 5px;
  }

  .section__sertificate-left {
    margin-right: 16px;
  }

  .section__sertificate-mb {
    cursor: pointer;
    color: var(--blue-color);
  }

  .section__sertificate-mb:hover {
    color: var(--bluedark-color);
  }

  .section__sertificate-down {
    padding-top: 5px;
    width: 186px;
  }

  .section__sertificate-medium {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
  }

  .eac {
    margin-right: 16px;
  }

  .nfc {
    cursor: pointer;
  }

  .section__sertificate-bottom {
    background-color: var(--gray-color);
    padding: 16px 24px;
  }

  .section__sertificate-text {
    width: 300px;
  }

  /* Nav 6 - Отзывы*/

  .section__response-title {
    margin: 0;
    margin-bottom: 24px;
  }

  .section__response-user-text_black {
    font-size: 16px;
    line-height: 2.8rem;
    font-weight: 500;
    color: var(--black-color);
    margin-right: 10px;
  }

  .section__response-user-text_grey {
    font-size: 14px;
    line-height: 2.8rem;
    font-weight: 400;
  }

  .section__response-user-text_red {
    border-radius: 30px; 
    background-color: var(--cherry-color);
    color: white;
    text-align: center;
    padding: 5px;
  }
  .section__response-user-text_red:hover {
    cursor: pointer;
    background-color: var(--cherrydark-color);
    transition: background.5s ease-in-out;
  }

  .section__response-body-advantages-h {
  font-size: 16px;
  line-height: 2.8rem;
  font-weight: 600;
  color: var(--black-color);
  }

  .section__response-disadvantages-h {
    font-size: 16px;
    line-height: 2.8rem;
    font-weight: 600;
    color: var(--black-color);
    }

  .section__response-additionally-h {
    font-size: 16px;
    line-height: 2.8rem;
    font-weight: 600;
    color: var(--black-color);
  }

  .section__response-feedback-like-img {
    margin: 0;
    cursor: pointer;
    margin-right: 5px;
  }

  .section__response-feedback-dislike-img {
    margin: 0;
    cursor: pointer;
    margin-right: 5px;
  }

  #like_count {
    margin: 0;
    text-align: left;
  }

  
  #dislike_count {
    margin: 0;
    text-align: left;
  }

  .section__response-feedback {
    margin-bottom: 16px;
  }

  .section__response-feedback-link {
    cursor: pointer;
    margin-left: 10px;
    color: var(--blue-color);
    padding-top: 5px;
  }

  .section__response-feedback-link:hover {
    color: var(--bluedark-color);
    transition: color .5s ease-out;
  }

  .section__response-button {
    background-color: var(--cherry-color);
    color: var(--white-color);
    cursor: pointer;
    border: 2px solid var(--cherrydark-color);
  }

  .section__response-button:hover {
    background-color: var(--cherrydark-color);
    border: 4px solid var(--cherrydark-color);
    transition: background .5s ease-in, border .5s ease-out;
  }

  .section__response-button:not(:last-child) {
    margin-right: 10px;
  }

  .section__response-btn {
    margin-bottom: 32px;
  }

  .section__response-user-text-black {
    font-size: 16px;
    line-height: 2.8rem;
    font-weight: 600;
    color: var(--black-color);
  }

  .section__response-user-text-red {
    cursor: ponter;
    border-radius: 50%; 
    background-color: var(--cherry-color);
    color: var(--white-color);
    text-align: center;
    padding: 5px 10px;
  }
  
  .section__response-user-text-red:hover {
    cursor: pointer;
    background-color: var(--cherrydark-color);
    transition: background .5s ease;
  }

  @media screen and (max-width: 1920px) {
    
    .container {
      width: 1120px;
    }

    .nav__link:last-child {
      margin-right: 125px;
    }
  }

  
  @media screen and (max-width: 1600px) {
    
    .nav__gps {
      margin-right: 100px;
    }

    .header__search {
      width: 300px;
    }

  }

  @media screen and (max-width: 1180px) {

    .nav__gps {
      margin-right: 90px;
    }

    .nav__link:last-child {
      margin-right: 90px;
    }

    .container {
      width: 980px;
      padding: 0 10px;
      margin: 0 auto;
    }

    .property {
      display: none;
    }

    .main__descr {
      width: 265px;
    }

    .all {
      display: none;
    }

    .memory {
      display: inline-block;
      min-width: 218px;
    }

    .main__shop {
      margin-left: 40px;
    }

    .media {
      display: block;
    }

    label {
      top: 30%;
    }

    .arrow-left {
      left: 0;
    }
    
    .arrow-right {
      left: 95%;
    }

    .footer__blocks {
      display: none;
    }

    .footer__about {
      display: block;
    }

    .next {
      float: right;
      margin-right: 10px;
    }

    .footer__logo {
      margin: 0 20px;
      padding: 30px 0;
      border-bottom: 1px solid #404040;
    }

    .footer__help {
      display: none;
    }

    .footer.container {
      display: block;
    }

    .footer__about {
      margin: 30px 20px;
      border-bottom: 1px solid #404040;
    }

    .footer__buy {
      margin: 30px 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid #404040;
    }

    .footer__network {
      margin: 0;
      margin: 30px 20px;
    }

    .footer__flex {
      border-bottom: 1px solid #404040;
      margin-left: 20px;
      padding-bottom: 30px;
    }

    .icons {
      margin-right: 20px;
    }

    .footer__bottom {
      width: 100%;
      padding: 30px 20px;
    }

  }

  @media screen and (max-width: 960px) {

    .header__slider {
      display: none;
    }

    .nav__link:nth-child(n+3) {
      display: none;
    }

    .offer:last-child {
      display: none;
    }

    .section__smartphone {
      display: none;
    }

    .section__all-title {
      display: none;
    }

    .section__info {
      display: block;
    }

    .section__sertificate-download {
      display: none;
    }

    .section__sertificate-text {
      width: 955px;
      min-height: 20px;
    }
  }


  @media screen and (max-width: 700px) {

    .nav__link {
      display: none;
    }

    .nav__tel {
      display: none;
    }

    .nav {
      border: 0;
      display: block;
    }

    .nav__gps {
      margin-left: 230px;
      margin-top: 15px;
    }

    .header__logo {
      position: absolute;
      top: 5px;
      left: 10px;
    }

    .header__slider {
      display: none;
    }

    .header__compare {
      display: none;
    }

    .header__basket {
      display: none;
    }

    .header__account {
      display: none;
    }

    .header__search {
      min-width: 300px;
      margin: 0 20px 20px;
    }

    .main__h1 {
      width: 430px;
      min-height: 30px;
    }

    .main__top {
      display: none;
    }
    
    .top__main {
      display: none;
    }

    .image.fade {
      max-width: 280px;
      margin-left: 25px;
    }

    .arrow-right {
      left: 32%;
    }

    .dots {
      margin: 0;
      margin-left: 120px;
      margin-bottom: 40px;
    }

    .main {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }

    .crate {
      border: 0;
    }

    .var {
      display: none;
    }

    .delivery {
      display: none;
    }

    .list__item {
      height: 19px;
      margin-right: 40px;
    }

    .list__item:nth-child(n+4) {
      display: none;
    }

    .about {
      width: 320px;
      min-height: 16px;
    }

    .block:nth-child(n+3) {
      display: none;
    }

    .block:nth-child(2) {
      background: url("../img/right.png") no-repeat 10% 48%;
      cursor: pointer;
    }

    .comment {
      max-width: 690px;
      padding: 0 20px;
    }

    .comment__additionally {
      width: 100%;
      min-height: 30px;
    }

    .footer__bottom {
      display: block;
    }

    .footer__copyright {
      margin-bottom: 20px;
    }

    .offer:not(:last-child) {
      margin-bottom: 20px;
    }

    .offer {
      min-width: 350px;
    }

  }

  @media screen and (max-width: 360px) {

    .nav__gps {
      margin-left: 200px;
      margin-top: 15px;
      margin-bottom: 20px;
    }

    .header__search {
      margin-left: 0;
      margin-right: 0;
    }

    .arrow-left {
      left: -3%;
    }

    .arrow-right {
      left: 30%;
    }

   .container {
    padding: 0 20px 0 20px;
   }

   .main {
    margin-top: 0;
   }

   .main__h1 {
    width: 320px;
    min-height: 40px;
   }

   .image.fade {
    margin-left: 0;
   }

   .main__photo {
    padding: 0;
   }
   
   .about {
    padding: 0 20px;
    width: 320px;
   }

   .comment {
    padding: 0 20px;
    width: 320px;
   }

   .viewed {
    padding: 0 20px;
    width: 320px;
   }

   .footer {
    width: 100%;
   }

   .footer__logo {
    padding: 20px 0;
   }

   .footer__about {
    margin: 26px 0;
   }

   .footer__buyers {
    margin: 26px 0;
   }

   .comment__quality {
    width: 350px;
    min-height: 30px;
   }

   .footer__buy {
    margin: 0;
   }

   .footer__network {
    margin: 0;
    margin-bottom: 30px;
   }

   .footer__flex {
    margin: 0;
   }

   .footer__bottom {
    margin: 30px 0;
   }

   .offer {
    margin-bottom: 20px;
   }

   .offer:last-child {
    display: block;
   }

  }